body {
    margin: 0;
    padding: 0;
    background-color: #002a54;
    color: #fc5475;
    font-family: Sans-Serif;

}

#page {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
}

#left {
    width: 30%;
}

#middle {
    width: 50%;
}

#destBox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 30%;
    margin: 2rem 0 0 0;
    border-bottom: #fc5475 solid 8px;
    border-radius: 10%;
}

#destHeader {
    font-size: xx-large;
}

#floorList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selectedFloor {
    border: solid 2px #fc5475;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#right {
    width: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    text-align: centers;
    align-items: center;
    height: 100%;
}

#logo {
    margin: 2rem;

}

#typingResult {
    width: 162px;
    height: 50px;
    font-size: large;
    text-align: center;
    justify-self: flex-end;
    margin: 1rem 0 0 0;

}

#buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 162px;
    justify-self: center;
    margin: 1rem 0 6rem 0;
}

.touchpad {
    width: 50px;
    height: 50px;
    margin: 2px;
    background-color: #2e2e2e;
    color: #fc5475;
    border: none;
    border-radius: 20%;
    transition: .75 all;
}

.touchpad:active {
    transform: scale(1.05);
}

.invalid {
    transform: scale(1.1);
    background-color: red;
    color: black;
    transition: .25s all;
}

.remove-invalid {
    transform: scale(1);
    transition: .75s all;
    background-color: #2e2e2e;
    color: #fc5475;
}